<div class="daily-weather-layout">
    <div class="day-wise" *ngFor="let weather of dailyWeather">
        <div class="day-name">
            {{getDayName(weather.dt_txt)}}
        </div>
        <div>
            <img class="activator" [src]="dataService.getImageSrc(weather.weather[0].icon)">
        </div>
        <div>
            <span> {{weather.main.temp}} </span>
        </div>
        <div class="day-desc">
            {{weather.weather[0].description}}
        </div>
    </div>
</div>