<mat-sidenav-container class="sidenav-container">

  <mat-sidenav-content>
    <div class="citiesLayout">

      <div style="overflow:auto" *ngFor="let weather of weatherArray; let i=index">
        <div class="card small cities-card" (click)="onClickCity(weather.name)">
          <div class="card-content">
            <span class="card-title cityName grey-text text-darken-4"><b>{{weather.name}}</b></span>
            <p><img class="activator" [src]="dataService.getImageSrc(weather.weather[0].icon)"><span
                class="temp">{{weather.main.temp}}</span></p>
            <div class="description"><span>
                {{weather.weather[0].description}}
              </span></div>
            <div class="miscWeatherData">
              <ul>
                <li> Feels like {{weather.main.feels_like}}</li>
                <li> Humidity {{weather.main.humidity}}%</li>
                <li> Wind {{weather.wind.speed}} mph</li>
                <li> Barometer {{weather.main.pressure}} mb</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <div class="dailyWeather" *ngIf="showMore">
      <ng-template *ngComponentOutlet="dailyWeather"></ng-template>
    </div>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>