.sidenav-container {
  height: 100%;
  
  .citiesLayout{
    display: flex;
    justify-content: center;
    
  }
  .cities-card{
    height: 300px;
    margin: 20px;
    cursor: pointer;
    background-color: lightslategray;
    opacity: 0.8;
    .cityName{
      display: flex;
    justify-content: center;
    }
    .temp{
      color: black;
      font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .description{
      display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    }
  }
  .miscWeatherData{
    position: absolute;
    bottom: 10px;
  }
  .card .card-content p {
    display: flex;
  }
  ul:not(.browser-default)>li {
    list-style-type: circle;
    color: antiquewhite;
  }
}
