/* You can add global styles to this file, and also import other style files */
@import '~ngx-bar-rating/themes/br-fontawesome-theme';
@import '~ngx-bar-rating/themes/br-default-theme.css';
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
  }
  html,body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
    background-image: url('/assets/clouds-bg.jpg');
    background-size: cover;
  }
  
  
  